.form-start h2 {
    background-color:slateblue;
    color: whitesmoke;
    border: 2px solid slategray;
    margin-top: 50px;
    margin-bottom: 50px;

}

.form-start input {
    border-top: none;
    border-right: none;
    border-left: none;
    

}