.bg-img{
    background-image: url("../../../images/bg.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    
    
}
.text-style{
    font-size: 100px;
    color: whitesmoke;
    align-items: center;
    justify-content: center;
    padding-top: 200px;
}
.bg-img h3{
    color: whitesmoke;
}